body{
  background-color:#7EC7DF;
  display:flex;
  justify-content: center;
  align-items: center;
}

header{
  width: 375px;
  height: 667px;
  background-color:#7EC7DF;
  display:flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

nav{
  width: 375px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  position: relative;
  right: 10px;
}

.arrow > img {
  width: 50px;
  height: 50px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h3{
  margin: 0;
}

.textDiarios{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 32px;
  margin-top: 80px;
}

main > img {
  width: 250px;
  height: 250px;
}

article {
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color:#1D217C;
  border-radius: 10px;
}

article > h3{
  color: white;
}

.iconsDiaries{
  width: 250px;
  display: flex;
  align-items: center;
}

a > img {
  width: 50px;
  height: 50px;
}

.newDiary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#1D217C;
  margin: 20px;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  width: 100px;
  height: 45px;
}

.diaries {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  width: 80px;
  height: 45px;
}
