body {
  height: 100vh;
  background-color: #7ec7df;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.arrow {
  height: fit-content;
  width: fit-content;
}

header {
  width: 375px;
  height: 667px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.top {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  position: relative;
  height: 54px;
}

main {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h3 {
  margin: 0;
  font-size: 32px;
}

article {
  width: 350px;
  height: 550px;
  display: flex;
  border-radius: 10px;
}

article>a,
article>h3 {
  color: black;
}

a>img {
  width: 50px;
  height: 50px;
}

textarea {
  resize: none;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-image:
    repeating-linear-gradient(to bottom, transparent, transparent 20px, #ccc 20px, #ccc 21px);
  background-size: 100% 21px;
  /* Ajuste conforme necessário para a altura das linhas */
  border: 1px solid #ccc;
  font-size: 16px;
  line-height: 19px;
}